<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>Flask CRUD with PostgreSQL</title>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body class="bg-light">
<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<body>
    {% block content %}{% endblock %}
</body>
</html>
</html>